body {
  font-size: 18px;
  width: 800px;
  margin: 50px auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.board {
  display: flex;
  flex-direction: column;
}

.create-column {
  display: flex;
  flex-wrap: no-wrap;
  min-height: 5vh;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5vh 5vh;
  max-width: 25vh;
}

.column-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.column-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column-title {
  min-height: 10vh;
  margin-right: auto;
}

.btn-delete {
  max-height: 3vh;
  align-self: flex-start;
  justify-content: flex-end;
}

.add-card {
  display: flex;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-delete-card {
  max-height: 3vh;
  justify-content: flex-end;
}
