@import url("https://fonts.googleapis.com/css?family=Share+Tech|Ubuntu");
.flex, .kanban-header, .header-nav, .header-color, .board, .create-column, .column-container, .column, .column-header, .column-card-list, .card, .add-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row-center, .kanban-header, .header-nav, .header-color, .column-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button-del, .btn-delete, .btn-delete-card {
  height: 3vh;
  width: 3vh;
  padding: 0 .5vh; }

body {
  font-size: 18px;
  width: 800px;
  margin: 50px auto;
  background-color: #9b9b9b;
  font-family: 'Ubuntu'; }

ul {
  list-style: none; }

button,
input {
  background-color: #FFF;
  color: #000;
  border: none;
  -webkit-box-shadow: 2px 2px #9b9b9b;
  box-shadow: 2px 2px #9b9b9b;
  border-radius: 5px;
  margin: 0 2vh; }

button:hover {
  background-color: #000;
  color: #FFF; }

.kanban-header {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  background-color: #2c3749;
  max-height: 15vh;
  color: #FFF;
  padding: 3vh;
  font-family: 'Share Tech';
  font-size: 1.3em;
  border-radius: 20px; }

.header-nav {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.header-color {
  width: 20vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 1vh; }
  .header-color span {
    font-size: .5em; }

.board {
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.create-column {
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  min-height: 5vh; }

.column-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  margin: 5vh 5vh;
  min-width: 20vh;
  background-color: #6ff263;
  border-radius: 3%;
  -webkit-box-shadow: 5px 5px #9b9b9b;
  box-shadow: 5px 5px #9b9b9b;
  padding: 3vh; }

.column-header {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-size: .9em; }

.column-title {
  min-height: 10vh;
  min-width: 15vh;
  margin-right: auto; }

.column-card-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0; }

.card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  background-color: #99f291;
  border-radius: 3%;
  padding: 2vh;
  font-size: .7em;
  width: 18vh;
  margin: 0 2vh 2vh 2vh;
  overflow-x: auto; }

.btn-delete {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.btn-delete-card {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.add-card {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 10vh;
  padding: 1vh 1vh; }

.card-placeholder {
  border: 1.5px dotted #9b9b9b; }

/*# sourceMappingURL=style.css.map */
